.FilterBar {
    width: 100%;
    height: 65px;
}

.CategoryContainer {
    float:left;
}

.Btn {
    float:left;
    padding-top: 10px;
    padding-left: 20px;
}

.DistrictsContainer {
    float:right;
}

@media (max-width:699px) {
    .DesktopOnly {
        display: none;
    }
}
