.AttractionsList {
    height: 86vh;
    float:left;
    width: 50%;
    margin-top: 10px;
}

.AttractionsListContainer{
    height: 100%;
    overflow-y: scroll;
}
@media (max-width: 1000px) {
    .AttractionsList {
        width: 100%;
    }
}
