.AttractionsList {
    float:left;
    width: 50%;
    height: 800px;
    margin-top: 10px;
    overflow-y: scroll;
}

@media (max-width: 1000px) {
    .AttractionsList {
        width: 100%;
    }
}
