.Map {
    width: 47%;
    float:right;
    margin-top: 10px;
}

@media (max-width: 1000px) {
    .Map {
        width: 100%;
    }
}

@media (max-width:500px){
    .Map {
        display: none;
    }
}
